/*button*/
.help {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #ff7f9c;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  width: 170px;
  height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: 700;
  margin: 23px 35px 0 0;
  -webkit-animation: pulsate 1.2s linear infinite;
          animation: pulsate 1.2s linear infinite;
  outline: none;
  border: none;
}
.help:hover {
  background-color: #fb5a87;
}
@-webkit-keyframes pulsate {
  50% {
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3), 0 0 5px #ffd, 0 0 8px #fff;
  }
}
@keyframes pulsate {
  50% {
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3), 0 0 5px #ffd, 0 0 8px #fff;
  }
}
/*pop-up window*/
.container_count {
  max-width: 760px;
  width: 100%;
  margin: 150px auto;
  background: url('../img/blues-wide.svg');
  -webkit-border-radius: 15px;
          border-radius: 15px;
  -webkit-background-size: cover;
          background-size: cover;
  padding: 10px;
}
.container_count .block_count {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background: #8CD0B7;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}
.container_count .block_count .count {
  cursor: pointer;
  text-align: center;
  color: #fff;
  padding: 10px;
  position: relative;
  z-index: 10;
  width: 20%;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  font-family: Roboto, sans-serif;
}
.container_count .block_count .count.curent {
  color: #5d3f49;
}
.container_count .block_count .active {
  position: absolute;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background: #fff;
  height: 96%;
  top: 2%;
  width: 18%;
  left: 1%;
  -webkit-transition: all 502ms cubic-bezier(0.185, 0.66, 0.315, 0.985);
  -o-transition: all 502ms cubic-bezier(0.185, 0.66, 0.315, 0.985);
  transition: all 502ms cubic-bezier(0.185, 0.66, 0.315, 0.985);
  -webkit-transform: translateX(220%);
      -ms-transform: translateX(220%);
          transform: translateX(220%);
  font-family: Roboto, sans-serif;
}
.container_count form {
  margin-top: 50px;
}
.container_count form input[name='count'] {
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  height: 50px;
  text-transform: uppercase;
  color: #333;
  width: 100%;
}
.container_count form input[type='submit'] {
  margin: 30px auto;
  display: block;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background: rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 40px;
  color: #444;
  font-weight: 700;
  font-size: 14px;
}
.container_count form input[type='submit']:hover {
  background: rgba(255, 255, 255, 0.85);
}
.container_count .price {
  color: #fff;
  font-size: 48px;
  text-align: center;
  margin-top: 50px;
  font-family: Roboto, sans-serif;
}
/* Zoom-out effect style*/
.mfp-zoom-out .mfp-with-anim {
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}
.mfp-zoom-out.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.mfp-zoom-out.mfp-ready .mfp-with-anim {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.mfp-zoom-out.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-zoom-out.mfp-removing .mfp-with-anim {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
  opacity: 0;
}
.mfp-zoom-out.mfp-removing.mfp-bg {
  opacity: 0;
}
.mfp-close-btn-in .mfp-close {
  display: none;
}
/*header start*/
#header {
  background: -webkit-gradient(linear, left top, left bottom, from(#65dec4), to(#48b097));
  background: -webkit-linear-gradient(top, #65dec4 0%, #48b097 100%);
  background: -o-linear-gradient(top, #65dec4 0%, #48b097 100%);
  background: linear-gradient(top, #65dec4 0%, #48b097 100%);
  border-bottom: #5d3f49 2px solid;
  z-index: 100;
  position: relative;
  width: 100%;
  /*logo and help section start*/
  /*logo and help section end*/
  /*navigation section start*/
  /*navigation section end*/
}
#header .topHeader {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  margin-bottom: 18px;
  /*logo section start*/
  /*logo section end*/
  /*help button section start*/
  /*help button section end*/
}
#header .topHeader .leftHeader {
  width: 60%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 130px;
  /*burger menu start*/
  /*burger menu end*/
}
#header .topHeader .leftHeader h2 {
  text-transform: capitalize;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding: 18px 0 0 14px;
}
#header .topHeader .leftHeader h2:before {
  content: 'благодійна організація';
}
#header .topHeader .leftHeader h2 span:before {
  content: 'міжнародний благодійний фонд "твоє майбутнє"';
}
#header .topHeader .leftHeader #b-container {
  height: 60px;
  left: 30px;
  position: absolute;
  top: 20px;
  cursor: pointer;
  display: none;
  padding-left: 15.5px;
  padding-top: 17.5px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 60px;
  opacity: 1;
}
#header .topHeader .leftHeader .b-bun {
  background: white;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#header .topHeader .leftHeader .b-bun--top {
  height: 2px;
  top: 0;
  width: 30px;
  background: white;
}
#header .topHeader .leftHeader .b-bun--mid {
  height: 2px;
  top: 8px;
  width: 30px;
  background: white;
}
#header .topHeader .leftHeader .b-bun--bottom {
  height: 2px;
  top: 16px;
  width: 30px;
  background: white;
}
#header .topHeader .leftHeader #b-container.open {
  left: 280px;
  opacity: 1;
}
#header .topHeader .leftHeader #b-container.open .b-bun--top {
  background: #5d3f49;
  top: 9px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 1;
}
#header .topHeader .leftHeader #b-container.open .b-bun--mid {
  opacity: 0;
}
#header .topHeader .leftHeader #b-container.open .b-bun--bottom {
  background: #5d3f49;
  top: 5px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  opacity: 1;
}
#header .topHeader .rightHeader {
  width: 40%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 30px;
}
#header .topHeader .rightHeader h5 {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  padding-top: 23px;
  text-align: right;
}
#header .topHeader .rightHeader h5 span {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 700;
}
#header .navigationPage {
  margin: -1.5% 15% 0;
  position: absolute;
  width: 70%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  /*navigation start*/
  /*navigation end*/
  /*name page start*/
  /*name page end*/
}
#header .navigationPage nav {
  width: 100%;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  background: -webkit-gradient(linear, left top, right top, from(#825c60), to(#493136));
  background: -webkit-linear-gradient(left, #825c60 0%, #493136 100%);
  background: -o-linear-gradient(left, #825c60 0%, #493136 100%);
  background: linear-gradient(left, #825c60 0%, #493136 100%);
  padding: 13px 20px;
}
#header .navigationPage nav .help_section {
  display: none;
}
#header .navigationPage nav .b-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
#header .navigationPage nav .b-nav li {
  list-style-type: none;
}
#header .navigationPage nav .b-nav li .b-link {
  padding: 25px 5px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}
#header .navigationPage nav .b-nav li .b-link:hover {
  color: #5bddbb;
}
#header .navigationPage nav .b-nav li .b-nav {
  position: absolute;
  -webkit-border-radius: 0 0 15px 15px;
          border-radius: 0 0 15px 15px;
  top: 45px;
  padding-left: 15px;
  margin: 0;
  background-color: #5d3f49;
  opacity: 0.8;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
}
#header .navigationPage nav .b-nav li .b-nav li {
  width: 180px;
  display: list-item;
  position: relative;
  padding: 5px 0;
  margin: 5px 5px;
}
#header .navigationPage nav .b-nav li .b-nav li a {
  padding: 5px 5px ;
}
#header .navigationPage nav .b-nav li:hover > .b-nav {
  display: inherit;
}
#header .navigationPage nav .b-nav li:hover:hover > .b-link {
  color: #5bddbb;
}
#header .navigationPage .namePage {
  background: -webkit-gradient(linear, left top, left bottom, from(#65dec4), to(#48b097));
  background: -webkit-linear-gradient(top, #65dec4 0%, #48b097 100%);
  background: -o-linear-gradient(top, #65dec4 0%, #48b097 100%);
  background: linear-gradient(top, #65dec4 0%, #48b097 100%);
  width: 45%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px 0;
  -webkit-border-bottom-left-radius: 25px;
          border-bottom-left-radius: 25px;
  -webkit-border-bottom-right-radius: 25px;
          border-bottom-right-radius: 25px;
}
#header .navigationPage .namePage h3 {
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
/*header section end*/
/*style for  size from 1024px to 1250px*/
@media (min-width: 1024px) and (max-width: 1250px) {
  #header {
    /*logo and help section end*/
    /*navigation section start*/
    /*navigation section end*/
  }
  #header .topHeader {
    /*logo section start*/
    /*logo section end*/
    /*help button section start*/
    /*help button section end*/
  }
  #header .topHeader .leftHeader {
    margin-left: 70px;
  }
  #header .topHeader .leftHeader h2 {
    font-size: 18px;
  }
  #header .topHeader .rightHeader {
    margin-right: 30px;
  }
  #header .topHeader .rightHeader .help {
    margin: 23px 20px 0 0;
  }
  #header .topHeader .rightHeader h5 {
    font-size: 16px;
  }
  #header .topHeader .rightHeader h5 span {
    font-size: 16px;
  }
  #header .navigationPage {
    margin: -1.8% 12.5% 0;
    width: 75%;
  }
  #header .navigationPage nav .b-nav li .b-nav {
    top: 44px;
  }
}
/*style for tablet size from 768px to 1023px*/
@media (min-width: 768px) and (max-width: 1023px) {
  #header {
    width: 100%;
    /*logo and help section start*/
    /*logo and help section end*/
    /*navigation section start*/
    /*navigation section end*/
  }
  #header .topHeader {
    margin-bottom: 25px;
    /*logo section start*/
    /*logo section end*/
    /*help button section start*/
    /*help button section end*/
  }
  #header .topHeader .leftHeader {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 6%;
    /*burger menu start*/
    /*burger menu end*/
  }
  #header .topHeader .leftHeader .logoDesktop {
    position: absolute;
    left: 85%;
    top: 15%;
  }
  #header .topHeader .leftHeader h2 {
    padding: 20px 0 2.5% 0;
    text-align: center;
  }
  #header .topHeader .leftHeader #b-container {
    height: 60px;
    left: 40px;
    position: absolute;
    top: 20%;
    cursor: pointer;
    display: block;
    padding-left: 15.5px;
    padding-top: 17.5px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    width: 60px;
  }
  #header .topHeader .leftHeader .b-bun {
    background: white;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  #header .topHeader .leftHeader .b-bun--top {
    height: 2px;
    top: 0;
    width: 30px;
    background: white;
  }
  #header .topHeader .leftHeader .b-bun--mid {
    height: 2px;
    top: 8px;
    width: 30px;
    background: white;
  }
  #header .topHeader .leftHeader .b-bun--bottom {
    height: 2px;
    top: 16px;
    width: 30px;
    background: white;
  }
  #header .topHeader .leftHeader #b-container.open {
    left: 320px;
  }
  #header .topHeader .leftHeader #b-container.open .b-bun--top {
    background: #5d3f49;
    top: 9px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  #header .topHeader .leftHeader #b-container.open .b-bun--mid {
    opacity: 0;
  }
  #header .topHeader .leftHeader #b-container.open .b-bun--bottom {
    background: #5d3f49;
    top: 5px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  #header .topHeader .leftHeader header.open {
    opacity: 0.8;
  }
  #header .topHeader .rightHeader {
    display: none;
  }
  #header .navigationPage {
    margin: -28px 25% 0;
    max-width: 50%;
    position: absolute;
    /*navigation start*/
    /*navigation end*/
    /*name page start*/
    /*name page end*/
  }
  #header .navigationPage nav {
    -webkit-border-radius: 25px;
            border-radius: 25px;
    padding: 5px 5px;
  }
  #header .navigationPage nav .help_section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #header .navigationPage nav .help_section .help {
    margin: 0;
    height: 40px;
    -webkit-border-radius: 20px;
            border-radius: 20px;
  }
  #header .navigationPage nav .help_section h2 {
    color: #fff;
    font-size: 15px;
    font-family: Roboto, sans-serif;
    margin: 0 5% ;
    text-align: right;
  }
  #header .navigationPage nav .b-nav {
    display: none;
  }
  #header .navigationPage .namePage {
    width: 80%;
  }
}
/*style for tablet size from 480px to 767px*/
@media (min-width: 480px) and (max-width: 767px) {
  #header {
    width: 100%;
    /*logo and help section start*/
    /*logo and help section end*/
    /*navigation section start*/
    /*navigation section end*/
  }
  #header .topHeader {
    margin-bottom: 35px;
    /*logo section start*/
    /*logo section end*/
    /*help button section start*/
    /*help button section end*/
  }
  #header .topHeader .leftHeader {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 3%;
    /*burger menu start*/
    /*burger menu end*/
  }
  #header .topHeader .leftHeader .logoDesktop {
    position: absolute;
    left: 80%;
    top: 15%;
  }
  #header .topHeader .leftHeader h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 19px;
  }
  #header .topHeader .leftHeader h2:before {
    content: 'благодійна організація';
  }
  #header .topHeader .leftHeader h2 span:before {
    content: 'мбф "твоє майбутнє"';
  }
  #header .topHeader .leftHeader #b-container {
    left: 20px;
    display: block;
  }
  #header .topHeader .rightHeader {
    display: none;
  }
  #header .navigationPage {
    margin: -25px 37.5% 0;
    width: 25%;
    position: absolute;
    /*navigation start*/
    /*navigation end*/
    /*name page start*/
    /*name page end*/
  }
  #header .navigationPage nav {
    -webkit-border-radius: 25px;
            border-radius: 25px;
    padding: 5px 5px;
    width: 160px;
  }
  #header .navigationPage nav .help_section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 150px;
  }
  #header .navigationPage nav .help_section .help {
    margin: 0;
    height: 40px;
  }
  #header .navigationPage nav .help_section h2 {
    display: none;
  }
  #header .navigationPage nav .b-nav {
    display: none;
  }
  #header .navigationPage .namePage {
    display: none;
  }
}
/*style for tablet size from 320px to 479px*/
@media (min-width: 401px) and (max-width: 479px) {
  #header {
    width: 100%;
    /*logo and help section start*/
    /*logo and help section end*/
    /*navigation section start*/
    /*navigation section end*/
  }
  #header .topHeader {
    margin-bottom: 25px;
    /*logo section start*/
    /*logo section end*/
    /*help button section start*/
    /*help button section end*/
  }
  #header .topHeader .leftHeader {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 2%;
    /*burger menu start*/
    /*burger menu end*/
  }
  #header .topHeader .leftHeader .logoDesktop {
    position: absolute;
    left: 77%;
    top: 20%;
  }
  #header .topHeader .leftHeader .logoDesktop img {
    height: 75%;
    width: 75%;
  }
  #header .topHeader .leftHeader h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
  }
  #header .topHeader .leftHeader h2:before {
    content: 'благодійний фонд';
  }
  #header .topHeader .leftHeader h2 span:before {
    content: '"твоє майбутнє"';
  }
  #header .topHeader .leftHeader #b-container {
    left: 25px;
    display: block;
  }
  #header .topHeader .rightHeader {
    display: none;
  }
  #header .navigationPage {
    margin: -20px 37.5% 0;
    width: 25%;
    position: absolute;
    /*navigation start*/
    /*navigation end*/
    /*name page start*/
    /*name page end*/
  }
  #header .navigationPage nav {
    -webkit-border-radius: 22px;
            border-radius: 22px;
    padding: 5px 5px;
    width: 160px;
  }
  #header .navigationPage nav .help_section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 150px;
  }
  #header .navigationPage nav .help_section .help {
    margin: 0;
    height: 35px;
  }
  #header .navigationPage nav .help_section h2 {
    display: none;
  }
  #header .navigationPage nav .b-nav {
    display: none;
  }
  #header .navigationPage .namePage {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 400px) {
  #header {
    width: 100%;
    /*logo and help section start*/
    /*logo and help section end*/
    /*navigation section start*/
    /*navigation section end*/
  }
  #header .topHeader {
    margin-bottom: 25px;
    /*logo section start*/
    /*logo section end*/
    /*help button section start*/
    /*help button section end*/
  }
  #header .topHeader .leftHeader {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 2%;
    /*burger menu start*/
    /*burger menu end*/
  }
  #header .topHeader .leftHeader .logoDesktop {
    position: absolute;
    left: 77%;
    top: 20%;
  }
  #header .topHeader .leftHeader .logoDesktop img {
    height: 75%;
    width: 75%;
  }
  #header .topHeader .leftHeader h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
  }
  #header .topHeader .leftHeader h2:before {
    content: 'бо мбф твоє';
  }
  #header .topHeader .leftHeader h2 span:before {
    content: 'майбутнє';
  }
  #header .topHeader .leftHeader #b-container {
    left: 25px;
    display: block;
  }
  #header .topHeader .rightHeader {
    display: none;
  }
  #header .navigationPage {
    margin: -20px 37.5% 0;
    width: 25%;
    position: absolute;
    /*navigation start*/
    /*navigation end*/
    /*name page start*/
    /*name page end*/
  }
  #header .navigationPage nav {
    -webkit-border-radius: 22px;
            border-radius: 22px;
    padding: 5px 5px;
    width: 160px;
  }
  #header .navigationPage nav .help_section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 150px;
  }
  #header .navigationPage nav .help_section .help {
    margin: 0;
    height: 35px;
  }
  #header .navigationPage nav .help_section h2 {
    display: none;
  }
  #header .navigationPage nav .b-nav {
    display: none;
  }
  #header .navigationPage .namePage {
    display: none;
  }
}
