.standard {
  min-width: 320px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #494949;
}
.standard_box {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.photoReporting {
  min-width: 320px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #494949;
  /*button*/
  /*pop-up window*/
  /* Zoom-out effect style*/
  /*header start*/
  /*header section end*/
  /*style for  size from 1100px to 1270px*/
  /*style for  size from 1024px to 1100px*/
  /*style for tablet size from 768px to 1023px*/
  /*style for tablet size from 480px to 767px*/
  /*style for tablet size from 401px to 479px*/
  /*style for tablet size from 320px to 400px*/
  /*start footer style*/
  /*end footer style*/
  /*style for tablet size from 650px to 850px*/
  /*style for tablet size from 320px to 649px*/
}
.photoReporting .help {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #ff7f9c;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  width: 170px;
  height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: 700;
  margin: 23px 35px 0 0;
  -webkit-animation: pulsate 1.2s linear infinite;
          animation: pulsate 1.2s linear infinite;
  outline: none;
  border: none;
}
.photoReporting .help:hover {
  background-color: #fb5a87;
}
@-webkit-keyframes pulsate {
  50% {
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3), 0 0 5px #ffd, 0 0 8px #fff;
  }
}
@keyframes pulsate {
  50% {
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3), 0 0 5px #ffd, 0 0 8px #fff;
  }
}
.photoReporting .container_count {
  max-width: 760px;
  width: 100%;
  margin: 150px auto;
  background: url('../img/blues-wide.svg');
  -webkit-border-radius: 15px;
          border-radius: 15px;
  -webkit-background-size: cover;
          background-size: cover;
  padding: 10px;
}
.photoReporting .container_count .block_count {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background: #b2fefc;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}
.photoReporting .container_count .block_count .count {
  cursor: pointer;
  text-align: center;
  color: #fff;
  padding: 10px;
  position: relative;
  z-index: 10;
  width: 20%;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  font-family: Roboto, sans-serif;
}
.photoReporting .container_count .block_count .count.curent {
  color: #66696e;
}
.photoReporting .container_count .block_count .active {
  position: absolute;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background: #fff;
  height: 96%;
  top: 2%;
  width: 18%;
  left: 1%;
  -webkit-transition: all 502ms cubic-bezier(0.185, 0.66, 0.315, 0.985);
  -o-transition: all 502ms cubic-bezier(0.185, 0.66, 0.315, 0.985);
  transition: all 502ms cubic-bezier(0.185, 0.66, 0.315, 0.985);
  -webkit-transform: translateX(220%);
      -ms-transform: translateX(220%);
          transform: translateX(220%);
  font-family: Roboto, sans-serif;
}
.photoReporting .container_count form {
  margin-top: 50px;
}
.photoReporting .container_count form input[name='count'] {
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  height: 50px;
  text-transform: uppercase;
  color: #66696e;
  width: 100%;
}
.photoReporting .container_count form input[type='submit'] {
  margin: 30px auto;
  display: block;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background: rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 40px;
  color: #66696e;
  font-weight: 700;
  font-size: 14px;
}
.photoReporting .container_count form input[type='submit']:hover {
  background: rgba(255, 255, 255, 0.85);
}
.photoReporting .container_count .price {
  color: #fff;
  font-size: 32px;
  text-align: center;
  margin-top: 50px;
  font-family: Roboto, sans-serif;
}
.photoReporting .mfp-zoom-out .mfp-with-anim {
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}
.photoReporting .mfp-zoom-out.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.photoReporting .mfp-zoom-out.mfp-ready .mfp-with-anim {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.photoReporting .mfp-zoom-out.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.photoReporting .mfp-zoom-out.mfp-removing .mfp-with-anim {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
  opacity: 0;
}
.photoReporting .mfp-zoom-out.mfp-removing.mfp-bg {
  opacity: 0;
}
.photoReporting .mfp-close-btn-in .mfp-close {
  display: none;
}
.photoReporting #navigation_out_menu {
  width: 280px;
  min-width: 280px;
  height: 100%;
  max-height: 100%;
  position: fixed;
  background: -webkit-gradient(linear, left top, left bottom, from(#b2fefc), to(#80ffd4));
  background: -webkit-linear-gradient(top, #b2fefc 0%, #80ffd4 100%);
  background: -o-linear-gradient(top, #b2fefc 0%, #80ffd4 100%);
  background: linear-gradient(top, #b2fefc 0%, #80ffd4 100%);
  z-index: 200;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  left: -350px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-transition: left ease 0.4s;
  -o-transition: left ease 0.4s;
  transition: left ease 0.4s;
}
.photoReporting #navigation_out_menu .header_out_menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.photoReporting #navigation_out_menu .header_out_menu img {
  width: 90%;
  padding-left: 10px;
}
.photoReporting #navigation_out_menu .header_out_menu h2 {
  font-size: 16px;
  text-transform: uppercase;
  color: #66696e;
  font-weight: 700;
  padding: 0 10px ;
}
.photoReporting #navigation_out_menu nav .nav_out_menu {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.photoReporting #navigation_out_menu nav .nav_out_menu li {
  padding: 10px 10px;
  list-style-type: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#b3fffd), to(#7ed9ae));
  background: -webkit-linear-gradient(top, #b3fffd 0%, #7ed9ae 100%);
  background: -o-linear-gradient(top, #b3fffd 0%, #7ed9ae 100%);
  background: linear-gradient(top, #b3fffd 0%, #7ed9ae 100%);
}
.photoReporting #navigation_out_menu nav .nav_out_menu li .link_out_menu {
  color: #66696e;
  text-decoration: none;
  display: block;
  height: 100%;
  font-size: 20px;
}
.photoReporting #navigation_out_menu nav .nav_out_menu li .link_out_menu:hover {
  color: #fff;
}
.photoReporting #navigation_out_menu nav .nav_out_menu li:hover {
  background: -webkit-gradient(linear, left top, right top, from(#ff7f9c), to(#b64760));
  background: -webkit-linear-gradient(left, #ff7f9c 0%, #b64760 100%);
  background: -o-linear-gradient(left, #ff7f9c 0%, #b64760 100%);
  background: linear-gradient(left, #ff7f9c 0%, #b64760 100%);
  color: #66696e;
}
.photoReporting #navigation_out_menu nav .nav_out_menu li .sub_nav_out_menu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20px;
  width: 100%;
}
.photoReporting #navigation_out_menu nav .nav_out_menu li .sub_nav_out_menu li {
  background: none;
}
.photoReporting #navigation_out_menu .help {
  width: 80%;
  margin: 0 10%;
  -webkit-animation: none;
          animation: none;
  height: 60px;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  background: -webkit-gradient(linear, left top, right top, from(#ff7f9c), to(#fb5a87));
  background: -webkit-linear-gradient(left, #ff7f9c 0%, #fb5a87 100%);
  background: -o-linear-gradient(left, #ff7f9c 0%, #fb5a87 100%);
  background: linear-gradient(left, #ff7f9c 0%, #fb5a87 100%);
}
.photoReporting #navigation_out_menu .help:hover {
  border: 2px solid #fb5a87;
  color: #fb5a87;
  background: #fff;
}
.photoReporting #navigation_out_menu .footer_out_menu {
  margin: 0 4% 2%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.photoReporting #navigation_out_menu .footer_out_menu .social_out_menu {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin: 8% 0;
}
.photoReporting #navigation_out_menu .footer_out_menu .social_out_menu a {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 2px solid #66696e;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}
.photoReporting #navigation_out_menu .footer_out_menu .social_out_menu a .fa-facebook,
.photoReporting #navigation_out_menu .footer_out_menu .social_out_menu a .fa-instagram,
.photoReporting #navigation_out_menu .footer_out_menu .social_out_menu a .fa-youtube-play {
  color: #66696e;
}
.photoReporting #navigation_out_menu .footer_out_menu .social_out_menu .facebook:hover {
  border-color: #3B5998;
}
.photoReporting #navigation_out_menu .footer_out_menu .social_out_menu .facebook:hover .fa-facebook {
  color: #3B5998;
}
.photoReporting #navigation_out_menu .footer_out_menu .social_out_menu .instagram:hover {
  border-color: #FE902E;
}
.photoReporting #navigation_out_menu .footer_out_menu .social_out_menu .instagram:hover .fa-instagram {
  color: #FE902E;
}
.photoReporting #navigation_out_menu .footer_out_menu .social_out_menu .youtube:hover {
  border-color: #FF0000;
}
.photoReporting #navigation_out_menu .footer_out_menu .social_out_menu .youtube:hover .fa-youtube-play {
  color: #FF0000;
}
.photoReporting #navigation_out_menu .footer_out_menu h5 {
  font-size: 10px;
  font-weight: 600;
  color: #66696e;
}
.photoReporting #navigation_out_menu.open {
  left: 0px;
}
.photoReporting header.open {
  opacity: 0.9;
}
.photoReporting main.open {
  opacity: 0.3;
}
.photoReporting footer.open {
  opacity: 0.3;
}
.photoReporting #header {
  background-color: #b2fefc;
  border-bottom: #66696e 2px solid;
  z-index: 100;
  position: relative;
  width: 100%;
  /*logo and help section start*/
  /*logo and help section end*/
  /*navigation section start*/
  /*navigation section end*/
}
.photoReporting #header .topHeader {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  margin-bottom: 18px;
  /*logo section start*/
  /*logo section end*/
  /*help button section start*/
  /*help button section end*/
}
.photoReporting #header .topHeader .leftHeader {
  width: 60%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 130px;
  /*burger menu start*/
  /*burger menu end*/
}
.photoReporting #header .topHeader .leftHeader h1 {
  text-transform: capitalize;
  color: #66696e;
  font-size: 20px;
  font-weight: 600;
  padding: 18px 0 0 25px;
}
.photoReporting #header .topHeader .leftHeader h1:before {
  content: 'благодійна організація';
}
.photoReporting #header .topHeader .leftHeader h1 span:before {
  content: 'міжнародний благодійний фонд "твоє майбутнє"';
}
.photoReporting #header .topHeader .leftHeader #b-container {
  height: 60px;
  left: 20px;
  position: absolute;
  top: 20px;
  cursor: pointer;
  display: none;
  padding-left: 12.5px;
  padding-top: 17.5px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 60px;
  opacity: 1;
}
.photoReporting #header .topHeader .leftHeader .b-bun {
  background: #fff;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.photoReporting #header .topHeader .leftHeader .b-bun--top {
  height: 2px;
  top: 0;
  width: 30px;
  background: #fff;
}
.photoReporting #header .topHeader .leftHeader .b-bun--mid {
  height: 2px;
  top: 8px;
  width: 30px;
  background: #fff;
}
.photoReporting #header .topHeader .leftHeader .b-bun--bottom {
  height: 2px;
  top: 16px;
  width: 30px;
  background: #fff;
}
.photoReporting #header .topHeader .leftHeader #b-container.open {
  left: 275px;
  opacity: 1;
}
.photoReporting #header .topHeader .leftHeader #b-container.open .b-bun--top {
  background: #66696e;
  top: 9px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 1;
}
.photoReporting #header .topHeader .leftHeader #b-container.open .b-bun--mid {
  opacity: 0;
}
.photoReporting #header .topHeader .leftHeader #b-container.open .b-bun--bottom {
  background: #66696e;
  top: 5px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  opacity: 1;
}
.photoReporting #header .topHeader .rightHeader {
  width: 40%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 30px;
}
.photoReporting #header .topHeader .rightHeader h5 {
  color: #66696e;
  font-size: 18px;
  font-weight: 600;
  padding-top: 23px;
  text-align: right;
}
.photoReporting #header .topHeader .rightHeader h5 span {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.photoReporting #header .navigationPage {
  margin: -1.5% 15% 0;
  position: absolute;
  width: 70%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  /*navigation start*/
  /*navigation end*/
  /*name page start*/
  /*name page end*/
}
.photoReporting #header .navigationPage nav {
  width: 100%;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  background-color: #66696e;
  padding: 8px 7px;
}
.photoReporting #header .navigationPage nav .help_section {
  display: none;
}
.photoReporting #header .navigationPage nav .b-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.photoReporting #header .navigationPage nav .b-nav li {
  list-style-type: none;
  padding: 5px 15px;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  background: -webkit-gradient(linear, left top, left bottom, from(#868990), to(#66696e));
  background: -webkit-linear-gradient(top, #868990 0%, #66696e 100%);
  background: -o-linear-gradient(top, #868990 0%, #66696e 100%);
  background: linear-gradient(top, #868990 0%, #66696e 100%);
}
.photoReporting #header .navigationPage nav .b-nav li .b-link {
  padding: 25px 5px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}
.photoReporting #header .navigationPage nav .b-nav li .b-link:hover {
  color: #b2fefc;
}
.photoReporting #header .navigationPage nav .b-nav li .b-nav {
  position: absolute;
  -webkit-border-radius: 0 0 15px 15px;
          border-radius: 0 0 15px 15px;
  top: 44px;
  padding-left: 15px;
  margin: 0;
  background-color: #66696e;
  opacity: 0.9;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
}
.photoReporting #header .navigationPage nav .b-nav li .b-nav li {
  width: 180px;
  display: list-item;
  position: relative;
  padding: 5px 0;
  margin: 5px 5px;
  background: none;
}
.photoReporting #header .navigationPage nav .b-nav li .b-nav li a {
  padding: 5px 5px ;
}
.photoReporting #header .navigationPage nav .b-nav li:hover > .b-nav {
  display: inherit;
}
.photoReporting #header .navigationPage nav .b-nav li:hover:hover > .b-link {
  color: #b2fefc;
}
.photoReporting #header .navigationPage .namePage {
  background-color: #b2fefc;
  width: 45%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px 0;
  -webkit-border-bottom-left-radius: 25px;
          border-bottom-left-radius: 25px;
  -webkit-border-bottom-right-radius: 25px;
          border-bottom-right-radius: 25px;
}
.photoReporting #header .navigationPage .namePage h3 {
  text-transform: uppercase;
  color: #66696e;
  font-size: 16px;
  font-weight: 600;
}
@media (min-width: 1100px) and (max-width: 1270px) {
  .photoReporting #header {
    /*logo and help section end*/
    /*navigation section start*/
    /*navigation section end*/
  }
  .photoReporting #header .topHeader {
    /*logo section start*/
    /*logo section end*/
    /*help button section start*/
    /*help button section end*/
  }
  .photoReporting #header .topHeader .leftHeader {
    margin-left: 70px;
  }
  .photoReporting #header .topHeader .leftHeader h1 {
    font-size: 18px;
  }
  .photoReporting #header .topHeader .rightHeader {
    margin-right: 30px;
  }
  .photoReporting #header .topHeader .rightHeader .help {
    margin: 23px 20px 0 0;
  }
  .photoReporting #header .topHeader .rightHeader h5 {
    font-size: 16px;
  }
  .photoReporting #header .topHeader .rightHeader h5 span {
    font-size: 16px;
  }
  .photoReporting #header .navigationPage {
    margin: -1.8% 12.5% 0;
    width: 75%;
  }
  .photoReporting #header .navigationPage nav .b-nav li {
    padding: 5px 10px;
  }
  .photoReporting #header .navigationPage nav .b-nav li .b-nav {
    top: 44px;
  }
}
@media (min-width: 1024px) and (max-width: 1100px) {
  .photoReporting #header {
    /*logo and help section end*/
    /*navigation section start*/
    /*navigation section end*/
  }
  .photoReporting #header .topHeader {
    /*logo section start*/
    /*logo section end*/
    /*help button section start*/
    /*help button section end*/
  }
  .photoReporting #header .topHeader .leftHeader {
    margin-left: 70px;
  }
  .photoReporting #header .topHeader .leftHeader h1 {
    font-size: 18px;
  }
  .photoReporting #header .topHeader .rightHeader {
    margin-right: 30px;
  }
  .photoReporting #header .topHeader .rightHeader .help {
    margin: 23px 20px 0 0;
  }
  .photoReporting #header .topHeader .rightHeader h5 {
    font-size: 16px;
  }
  .photoReporting #header .topHeader .rightHeader h5 span {
    font-size: 16px;
  }
  .photoReporting #header .navigationPage {
    margin: -1.8% 12.5% 0;
    width: 75%;
  }
  .photoReporting #header .navigationPage nav .b-nav li {
    padding: 5px ;
  }
  .photoReporting #header .navigationPage nav .b-nav li .b-nav {
    top: 44px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .photoReporting #header {
    width: 100%;
    /*logo and help section start*/
    /*logo and help section end*/
    /*navigation section start*/
    /*navigation section end*/
  }
  .photoReporting #header .topHeader {
    margin-bottom: 25px !important;
    /*logo section start*/
    /*logo section end*/
    /*help button section start*/
    /*help button section end*/
  }
  .photoReporting #header .topHeader .leftHeader {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 6%;
    /*burger menu start*/
    /*burger menu end*/
  }
  .photoReporting #header .topHeader .leftHeader .logoDesktop {
    position: absolute;
    left: 85%;
    top: 15%;
  }
  .photoReporting #header .topHeader .leftHeader h1 {
    padding: 20px 0 2% 0;
    text-align: center;
  }
  .photoReporting #header .topHeader .leftHeader #b-container {
    height: 60px;
    left: 40px;
    position: absolute;
    top: 20%;
    cursor: pointer;
    display: block;
    padding-left: 15.5px;
    padding-top: 17.5px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    width: 60px;
  }
  .photoReporting #header .topHeader .leftHeader .b-bun {
    background: white;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .photoReporting #header .topHeader .leftHeader .b-bun--top {
    height: 2px;
    top: 0;
    width: 30px;
    background: white;
  }
  .photoReporting #header .topHeader .leftHeader .b-bun--mid {
    height: 2px;
    top: 8px;
    width: 30px;
    background: white;
  }
  .photoReporting #header .topHeader .leftHeader .b-bun--bottom {
    height: 2px;
    top: 16px;
    width: 30px;
    background: white;
  }
  .photoReporting #header .topHeader .leftHeader #b-container.open {
    left: 320px;
  }
  .photoReporting #header .topHeader .leftHeader #b-container.open .b-bun--top {
    background: #66696e;
    top: 9px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .photoReporting #header .topHeader .leftHeader #b-container.open .b-bun--mid {
    opacity: 0;
  }
  .photoReporting #header .topHeader .leftHeader #b-container.open .b-bun--bottom {
    background: #66696e;
    top: 5px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .photoReporting #header .topHeader .leftHeader header.open {
    opacity: 0.8;
  }
  .photoReporting #header .topHeader .rightHeader {
    display: none;
  }
  .photoReporting #header .navigationPage {
    margin: -28px 25% 0;
    max-width: 50%;
    position: absolute;
    /*navigation start*/
    /*navigation end*/
    /*name page start*/
    /*name page end*/
  }
  .photoReporting #header .navigationPage nav {
    -webkit-border-radius: 25px;
            border-radius: 25px;
    padding: 5px 5px;
  }
  .photoReporting #header .navigationPage nav .help_section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .photoReporting #header .navigationPage nav .help_section .help {
    margin: 0;
    height: 40px;
    -webkit-border-radius: 20px;
            border-radius: 20px;
  }
  .photoReporting #header .navigationPage nav .help_section h5 {
    color: #fff;
    font-size: 15px;
    font-family: Roboto, sans-serif;
    margin: 0 5% ;
    text-align: right;
  }
  .photoReporting #header .navigationPage nav .b-nav {
    display: none;
  }
  .photoReporting #header .navigationPage .namePage {
    width: 80%;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .photoReporting #header {
    width: 100%;
    /*logo and help section start*/
    /*logo and help section end*/
    /*navigation section start*/
    /*navigation section end*/
  }
  .photoReporting #header .topHeader {
    margin-bottom: 35px;
    /*logo section start*/
    /*logo section end*/
    /*help button section start*/
    /*help button section end*/
  }
  .photoReporting #header .topHeader .leftHeader {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 3%;
    /*burger menu start*/
    /*burger menu end*/
  }
  .photoReporting #header .topHeader .leftHeader .logoDesktop {
    position: absolute;
    left: 80%;
    top: 15%;
  }
  .photoReporting #header .topHeader .leftHeader h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 19px;
  }
  .photoReporting #header .topHeader .leftHeader h1:before {
    content: 'благодійна організація';
  }
  .photoReporting #header .topHeader .leftHeader h1 span:before {
    content: 'мбф "твоє майбутнє"';
  }
  .photoReporting #header .topHeader .leftHeader #b-container {
    left: 20px;
    display: block;
  }
  .photoReporting #header .topHeader .rightHeader {
    display: none;
  }
  .photoReporting #header .navigationPage {
    margin: -25px 37.5% 0;
    width: 25%;
    position: absolute;
    /*navigation start*/
    /*navigation end*/
    /*name page start*/
    /*name page end*/
  }
  .photoReporting #header .navigationPage nav {
    -webkit-border-radius: 25px;
            border-radius: 25px;
    padding: 5px 5px;
    width: 160px;
  }
  .photoReporting #header .navigationPage nav .help_section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 150px;
  }
  .photoReporting #header .navigationPage nav .help_section .help {
    margin: 0;
    height: 40px;
  }
  .photoReporting #header .navigationPage nav .help_section h5 {
    display: none;
  }
  .photoReporting #header .navigationPage nav .b-nav {
    display: none;
  }
  .photoReporting #header .navigationPage .namePage {
    display: none;
  }
}
@media (min-width: 401px) and (max-width: 479px) {
  .photoReporting #header {
    width: 100%;
    /*logo and help section start*/
    /*logo and help section end*/
    /*navigation section start*/
    /*navigation section end*/
  }
  .photoReporting #header .topHeader {
    margin-bottom: 25px;
    /*logo section start*/
    /*logo section end*/
    /*help button section start*/
    /*help button section end*/
  }
  .photoReporting #header .topHeader .leftHeader {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 2%;
    /*burger menu start*/
    /*burger menu end*/
  }
  .photoReporting #header .topHeader .leftHeader .logoDesktop {
    position: absolute;
    left: 77%;
    top: 20%;
  }
  .photoReporting #header .topHeader .leftHeader .logoDesktop img {
    height: 75%;
    width: 75%;
  }
  .photoReporting #header .topHeader .leftHeader h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 16px 2px;
  }
  .photoReporting #header .topHeader .leftHeader h1:before {
    content: 'благодійний фонд';
  }
  .photoReporting #header .topHeader .leftHeader h1 span:before {
    content: '"твоє майбутнє"';
  }
  .photoReporting #header .topHeader .leftHeader #b-container {
    left: 25px;
    display: block;
  }
  .photoReporting #header .topHeader .rightHeader {
    display: none;
  }
  .photoReporting #header .navigationPage {
    margin: -20px 37.5% 0;
    width: 25%;
    position: absolute;
    /*navigation start*/
    /*navigation end*/
    /*name page start*/
    /*name page end*/
  }
  .photoReporting #header .navigationPage nav {
    -webkit-border-radius: 22px;
            border-radius: 22px;
    padding: 5px 5px;
    width: 160px;
  }
  .photoReporting #header .navigationPage nav .help_section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 150px;
  }
  .photoReporting #header .navigationPage nav .help_section .help {
    margin: 0;
    height: 35px;
  }
  .photoReporting #header .navigationPage nav .help_section h5 {
    display: none;
  }
  .photoReporting #header .navigationPage nav .b-nav {
    display: none;
  }
  .photoReporting #header .navigationPage .namePage {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 400px) {
  .photoReporting #header {
    width: 100%;
    /*logo and help section start*/
    /*logo and help section end*/
    /*navigation section start*/
    /*navigation section end*/
  }
  .photoReporting #header .topHeader {
    margin-bottom: 25px;
    /*logo section start*/
    /*logo section end*/
    /*help button section start*/
    /*help button section end*/
  }
  .photoReporting #header .topHeader .leftHeader {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 2%;
    /*burger menu start*/
    /*burger menu end*/
  }
  .photoReporting #header .topHeader .leftHeader .logoDesktop {
    position: absolute;
    left: 77%;
    top: 20%;
  }
  .photoReporting #header .topHeader .leftHeader .logoDesktop img {
    height: 75%;
    width: 75%;
  }
  .photoReporting #header .topHeader .leftHeader h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
  }
  .photoReporting #header .topHeader .leftHeader h1:before {
    content: 'бо мбф твоє';
  }
  .photoReporting #header .topHeader .leftHeader h1 span:before {
    content: 'майбутнє';
  }
  .photoReporting #header .topHeader .leftHeader #b-container {
    left: 20px;
    display: block;
  }
  .photoReporting #header .topHeader .rightHeader {
    display: none;
  }
  .photoReporting #header .navigationPage {
    margin: -20px 37.5% 0;
    width: 25%;
    position: absolute;
    /*navigation start*/
    /*navigation end*/
    /*name page start*/
    /*name page end*/
  }
  .photoReporting #header .navigationPage nav {
    -webkit-border-radius: 22px;
            border-radius: 22px;
    padding: 5px 5px;
    width: 160px;
  }
  .photoReporting #header .navigationPage nav .help_section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 150px;
  }
  .photoReporting #header .navigationPage nav .help_section .help {
    margin: 0;
    height: 35px;
  }
  .photoReporting #header .navigationPage nav .help_section h5 {
    display: none;
  }
  .photoReporting #header .navigationPage nav .b-nav {
    display: none;
  }
  .photoReporting #header .navigationPage .namePage {
    display: none;
  }
}
.photoReporting #header .navigationPage .namePage h3:before {
  content: 'Фотозвітність';
}
.photoReporting main {
  background: -webkit-gradient(linear, left top, left bottom, from(#ddfcf6), to(#E6FDF7));
  background: -webkit-linear-gradient(top, #ddfcf6 0%, #E6FDF7 100%);
  background: -o-linear-gradient(top, #ddfcf6 0%, #E6FDF7 100%);
  background: linear-gradient(top, #ddfcf6 0%, #E6FDF7 100%);
  padding: 100px 60px 50px 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.photoReporting main .link_album {
  position: relative;
  border: 3px solid #fff;
  margin: 5px;
}
.photoReporting main .link_album img {
  width: 350px;
  height: auto;
  padding: 5px;
}
.photoReporting main .link_album .link_album_container {
  position: absolute;
  bottom: 35px;
  z-index: 50;
  left: 14px;
  padding: 1% 5%;
}
.photoReporting main .link_album .link_album_container h4 {
  font: 600 20px Raleway, sans-serif;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.photoReporting main .link_album .link_album_container a {
  font: 600 12px Raleway, sans-serif;
  color: #fff;
  padding: 3px 8px;
  border: 1px solid #fff;
  text-transform: uppercase;
  text-decoration: none;
}
.photoReporting main .link_album .link_album_container a:hover {
  color: #b2fefc;
  border: 1px solid #b2fefc;
}
.photoReporting main .link_album:hover {
  border: 3px solid #b2fefc;
  -webkit-transform: scale(1.05, 1.05);
      -ms-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
  -webkit-transition-timing-function: ease-out;
       -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
}
.photoReporting footer {
  background: -webkit-gradient(linear, left top, left bottom, from(#868990), to(#4b4e53));
  background: -webkit-linear-gradient(top, #868990 0%, #4b4e53 100%);
  background: -o-linear-gradient(top, #868990 0%, #4b4e53 100%);
  background: linear-gradient(top, #868990 0%, #4b4e53 100%);
  padding: 5% 3% 4%;
  /*title*/
  /*Requisites section start*/
  /*Requisites section end*/
  /*Contacts section start*/
  /*Contacts section end*/
  /*Copyright section start*/
  /*Copyright section end*/
}
.photoReporting footer h4 {
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}
.photoReporting footer hr {
  width: 15%;
  height: 8px;
  background-color: #fd537c;
  border: none;
  margin: 15px 0 50px;
}
.photoReporting footer .topFooter {
  padding-bottom: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  border-bottom: 1px solid #fff;
  /*Requisites in Russian section start*/
  /*Requisites in Russian section end*/
  /*Requisites in English section start*/
  /*Requisites in English section end*/
}
.photoReporting footer .topFooter h5 {
  font-size: 18px;
  font-weight: 500;
  font-family: Roboto, sans-serif;
}
.photoReporting footer .topFooter .leftTopFooter {
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-right: 15px;
  width: 50%;
  text-align: right;
}
.photoReporting footer .topFooter .rightTopFooter {
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 15px;
  width: 50%;
}
.photoReporting footer .middleFooter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  padding: 0 30px;
  border-bottom: 2px solid #fff;
}
.photoReporting footer .middleFooter h5 {
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  color: #fff;
}
.photoReporting footer .middleFooter .address {
  width: 33%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 19px 0 23px 24px;
}
.photoReporting footer .middleFooter .phone {
  width: 33%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 19px 0 23px 0;
  font-family: Roboto, sans-serif;
}
.photoReporting footer .middleFooter .mail {
  width: 33%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 19px 0 23px 0;
}
.photoReporting footer .middleFooter .mail a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  color: #fff;
}
.photoReporting footer .middleFooter .mail a:hover {
  color: #babbb5;
}
.photoReporting footer .bottomFooter {
  padding-top: 4%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  /*Copyright section start*/
  /*Copyright section end*/
  /*Button to back start*/
  /*Button to back end*/
  /*Social section start*/
  /*Social section end*/
}
.photoReporting footer .bottomFooter .leftBottomFooter {
  width: 45%;
}
.photoReporting footer .bottomFooter .leftBottomFooter h6 {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}
.photoReporting footer .bottomFooter .middleBottomFooter {
  width: 10%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.photoReporting footer .bottomFooter .middleBottomFooter .fa-arrow-circle-o-up {
  color: #868990;
}
.photoReporting footer .bottomFooter .middleBottomFooter .fa-arrow-circle-o-up:hover {
  color: #fff;
}
.photoReporting footer .bottomFooter .rightBottomFooter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 45%;
}
.photoReporting footer .bottomFooter .rightBottomFooter a {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 2px solid #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}
.photoReporting footer .bottomFooter .rightBottomFooter a .fa-facebook,
.photoReporting footer .bottomFooter .rightBottomFooter a .fa-instagram,
.photoReporting footer .bottomFooter .rightBottomFooter a .fa-youtube-play {
  color: #fff;
}
.photoReporting footer .bottomFooter .rightBottomFooter .instagram {
  margin: 0 55px;
}
.photoReporting footer .bottomFooter .rightBottomFooter .facebook:hover {
  border-color: #3B5998;
}
.photoReporting footer .bottomFooter .rightBottomFooter .facebook:hover .fa-facebook {
  color: #3B5998;
}
.photoReporting footer .bottomFooter .rightBottomFooter .instagram:hover {
  border-color: #FE902E;
}
.photoReporting footer .bottomFooter .rightBottomFooter .instagram:hover .fa-instagram {
  color: #FE902E;
}
.photoReporting footer .bottomFooter .rightBottomFooter .youtube:hover {
  border-color: #FF0000;
}
.photoReporting footer .bottomFooter .rightBottomFooter .youtube:hover .fa-youtube-play {
  color: #FF0000;
}
@media (min-width: 650px) and (max-width: 850px) {
  .photoReporting footer {
    width: 100%;
    padding: 5% 4% 4%;
    /*title*/
    /*Requisites section start*/
    /*Requisites section end*/
    /*Contacts section start*/
    /*Contacts section end*/
    /*Copyright section start*/
    /*Copyright section end*/
  }
  .photoReporting footer h4 {
    font-size: 20px;
  }
  .photoReporting footer hr {
    width: 20%;
    margin: 15px 0;
  }
  .photoReporting footer .topFooter {
    padding-bottom: 15px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    /*Requisites in Russian section start*/
    /*Requisites in Russian section end*/
    /*Requisites in English section start*/
    /*Requisites in English section end*/
  }
  .photoReporting footer .topFooter .leftTopFooter {
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-right: 5px;
    width: 50%;
    text-align: right;
  }
  .photoReporting footer .topFooter .leftTopFooter h5 {
    font-size: 15px;
  }
  .photoReporting footer .topFooter .rightTopFooter {
    width: 50%;
    text-align: justify;
    padding-left: 5px;
  }
  .photoReporting footer .topFooter .rightTopFooter h5 {
    font-size: 15px;
  }
  .photoReporting footer .middleFooter {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding: 0;
    border-bottom: 1px solid #fff;
    width: 100%;
  }
  .photoReporting footer .middleFooter h5 {
    font-size: 15px;
    font-weight: 500;
    margin-left: 15px;
    color: #fff;
    font-family: Roboto, sans-serif;
  }
  .photoReporting footer .middleFooter .address {
    width: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2% 0;
  }
  .photoReporting footer .middleFooter .phone {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 2% 0;
    width: 50%;
  }
  .photoReporting footer .middleFooter .mail {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 2% 0;
    width: 50%;
  }
  .photoReporting footer .middleFooter .mail a {
    font-size: 16px;
  }
  .photoReporting footer .bottomFooter {
    padding-top: 4%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    /*Copyright section start*/
    /*Copyright section end*/
    /*Button to back start*/
    /*Button to back end*/
    /*Social section start*/
    /*Social section end*/
  }
  .photoReporting footer .bottomFooter .leftBottomFooter {
    width: 100%;
    padding-top: 4%;
  }
  .photoReporting footer .bottomFooter .leftBottomFooter h6 {
    font-size: 10px;
    font-weight: 400;
  }
  .photoReporting footer .bottomFooter .middleBottomFooter {
    display: none;
  }
  .photoReporting footer .bottomFooter .rightBottomFooter {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    width: 100%;
    border-bottom: 1px solid #fff;
    padding-bottom: 4%;
  }
  .photoReporting footer .bottomFooter .rightBottomFooter .instagram {
    margin: 0;
  }
  .photoReporting footer .bottomFooter .rightBottomFooter a {
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 320px) and (max-width: 649px) {
  .photoReporting footer {
    width: 100%;
    padding: 5% 4% 4%;
    /*title*/
    /*Requisites section start*/
    /*Requisites section end*/
    /*Contacts section start*/
    /*Contacts section end*/
    /*Copyright section start*/
    /*Copyright section end*/
  }
  .photoReporting footer h4 {
    font-size: 20px;
  }
  .photoReporting footer hr {
    width: 20%;
    margin: 15px 0;
  }
  .photoReporting footer .topFooter {
    padding-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    /*Requisites in Russian section start*/
    /*Requisites in Russian section end*/
    /*Requisites in English section start*/
    /*Requisites in English section end*/
  }
  .photoReporting footer .topFooter .leftTopFooter {
    width: 100%;
    text-align: justify;
    padding-bottom: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .photoReporting footer .topFooter .leftTopFooter h5 {
    font-size: 15px;
  }
  .photoReporting footer .topFooter .rightTopFooter {
    padding: 0;
    width: 100%;
    text-align: justify;
  }
  .photoReporting footer .topFooter .rightTopFooter h5 {
    font-size: 15px;
  }
  .photoReporting footer .middleFooter {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    border-bottom: 1px solid #fff;
  }
  .photoReporting footer .middleFooter h5 {
    font-size: 15px;
    font-weight: 500;
    margin-left: 15px;
    color: #fff;
    font-family: Roboto, sans-serif;
  }
  .photoReporting footer .middleFooter .address {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2% 0;
  }
  .photoReporting footer .middleFooter .phone {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 2% 0;
    width: 100%;
  }
  .photoReporting footer .middleFooter .mail {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 2% 0;
    width: 100%;
  }
  .photoReporting footer .middleFooter .mail a {
    font-size: 16px;
  }
  .photoReporting footer .bottomFooter {
    padding-top: 4%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    /*Copyright section start*/
    /*Copyright section end*/
    /*Button to back start*/
    /*Button to back end*/
    /*Social section start*/
    /*Social section end*/
  }
  .photoReporting footer .bottomFooter .leftBottomFooter {
    width: 100%;
    padding-top: 4%;
  }
  .photoReporting footer .bottomFooter .leftBottomFooter h6 {
    font-size: 11px;
    font-weight: 400;
  }
  .photoReporting footer .bottomFooter .middleBottomFooter {
    display: none;
  }
  .photoReporting footer .bottomFooter .rightBottomFooter {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    width: 100%;
    border-bottom: 1px solid #fff;
    padding-bottom: 4%;
  }
  .photoReporting footer .bottomFooter .rightBottomFooter .instagram {
    margin: 0;
  }
  .photoReporting footer .bottomFooter .rightBottomFooter a {
    width: 50px;
    height: 50px;
  }
}
/*style for  size from 400px to 768px*/
@media (min-width: 400px) and (max-width: 768px) {
  .photoReporting main {
    background: -webkit-gradient(linear, left top, left bottom, from(#ddfcf6), to(#E6FDF7));
    background: -webkit-linear-gradient(top, #ddfcf6 0%, #E6FDF7 100%);
    background: -o-linear-gradient(top, #ddfcf6 0%, #E6FDF7 100%);
    background: linear-gradient(top, #ddfcf6 0%, #E6FDF7 100%);
    padding: 8% 4% 4%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*style for  size from 320px to 400px*/
@media (min-width: 320px) and (max-width: 400px) {
  .photoReporting main {
    background: -webkit-gradient(linear, left top, left bottom, from(#ddfcf6), to(#E6FDF7));
    background: -webkit-linear-gradient(top, #ddfcf6 0%, #E6FDF7 100%);
    background: -o-linear-gradient(top, #ddfcf6 0%, #E6FDF7 100%);
    background: linear-gradient(top, #ddfcf6 0%, #E6FDF7 100%);
    padding: 8% 4% 4%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .photoReporting main .link_album img {
    width: 250px;
  }
}
/*header with name page*/
@media (min-width: 491px) and (max-width: 767px) {
  .photoReporting #header .topHeader {
    margin-bottom: 50px;
  }
  .photoReporting #header .topHeader .leftHeader h1 {
    font-size: 20px;
    padding-left: 0 !important;
  }
  .photoReporting #header .topHeader .leftHeader h1:before {
    content: 'бо мбф "твоє майбутнє"';
  }
  .photoReporting #header .topHeader .leftHeader h1 span:before {
    content: 'Фотозвітність';
  }
}
@media (min-width: 320px) and (max-width: 490px) {
  .photoReporting #header .topHeader {
    margin-bottom: 50px;
  }
  .photoReporting #header .topHeader .leftHeader h1 {
    font-size: 20px;
    padding-left: 0 !important;
  }
  .photoReporting #header .topHeader .leftHeader h1:before {
    content: 'Фотозвітність';
  }
  .photoReporting #header .topHeader .leftHeader h1 span:before {
    content: ' ';
  }
}
