@import "constants";


* {
  .standard_box;
}

.cooperation {
  .standard;

  @import "navigation_out_menu";
  @import "header";

  #header .navigationPage .namePage h3:before {
    content: 'Співпраця';
  }

  main {
    background: @color_content_bg;
    padding: 100px 60px 50px 60px;
    ul {
      margin-left: 50px;
    }
    h4 {
      font-size: @font_size_standard + 2px;
    }
    h5 {
      font-size: @font_size_standard;
    }

    a {
      text-decoration: none;
      color: @color_grey;
      &:hover {
        color: @color_link;
      }
    }
  }

  @import "footer";
}

/*style for  size from 320px to 768px*/
@media  (min-width: 320px) and (max-width: 768px) {
  .cooperation {
    font-size: 14px;
    main {
      padding: 8% 4% 4%;
      ul {
        margin-left: 20px;
      }
    }
  }
}

/*header with name page*/
@media  (min-width: 491px) and (max-width: 767px) {
  .cooperation{
    #header .topHeader {
      margin-bottom: 50px;
      .leftHeader h1 {
        font-size: 20px;
        padding-left: 0 !important;
        &:before {
          content: 'бо мбф "твоє майбутнє"';
        }
        span:before {
          content: 'Співпраця ';
        }
      }
    }
  }
}

@media  (min-width: 320px) and (max-width: 490px) {
  .cooperation{
    #header .topHeader {
      margin-bottom: 50px;
      .leftHeader h1 {
        font-size: 22px;
        padding-left: 0 !important;
        &:before {
          content: 'Співпраця';
        }
        span:before {
          content: ' ';
        }
      }
    }
  }
}