/*start footer style*/
footer {
  background-color: #5d3f49;
  padding: 70px 30px 55px;
  /*title*/
  /*Requisites section start*/
  /*Requisites section end*/
  /*Contacts section start*/
  /*Contacts section end*/
  /*Copyright section start*/
  /*Copyright section end*/
}
footer h3 {
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}
footer hr {
  width: 15%;
  height: 8px;
  background-color: #fd537c;
  border: none;
  margin: 15px 0 50px;
}
footer .topFooter {
  padding-bottom: 25px;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 2px solid #fff;
  /*Requisites in Russian section start*/
  /*Requisites in Russian section end*/
  /*Requisites in English section start*/
  /*Requisites in English section end*/
}
footer .topFooter h4 {
  font-size: 18px;
  font-weight: 500;
}
footer .topFooter .leftTopFooter {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 15px;
  width: 50%;
  text-align: right;
}
footer .topFooter .rightTopFooter {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 15px;
  width: 50%;
}
footer .middleFooter {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 30px;
  border-bottom: 2px solid #fff;
}
footer .middleFooter h5 {
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  color: #fff;
}
footer .middleFooter .address {
  width: 33%;
  display: flex;
  align-items: center;
  padding: 19px 0 23px 24px;
}
footer .middleFooter .phone {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 19px 0 23px 0;
}
footer .middleFooter .mail {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 19px 0 23px 0;
}
footer .middleFooter .mail a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  color: #fff;
}
footer .bottomFooter {
  padding-top: 60px;
  display: flex;
  /*Copyright section start*/
  /*Copyright section end*/
  /*Button to back start*/
  /*Button to back end*/
  /*Social section start*/
  /*Social section end*/
}
footer .bottomFooter .leftBottomFooter {
  width: 45%;
}
footer .bottomFooter .leftBottomFooter h5 {
  font-size: 18px;
  font-weight: 500;
  color: #c3bbbd;
}
footer .bottomFooter .middleBottomFooter {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .bottomFooter .middleBottomFooter .fa-arrow-circle-o-up {
  color: #c3bbbd;
}
footer .bottomFooter .middleBottomFooter .fa-arrow-circle-o-up:hover {
  color: #fff;
}
footer .bottomFooter .rightBottomFooter {
  display: flex;
  justify-content: flex-end;
  width: 45%;
}
footer .bottomFooter .rightBottomFooter a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #c3bbbd;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
footer .bottomFooter .rightBottomFooter a .fa-facebook,
footer .bottomFooter .rightBottomFooter a .fa-instagram,
footer .bottomFooter .rightBottomFooter a .fa-youtube-play {
  color: #c3bbbd;
}
footer .bottomFooter .rightBottomFooter .instagram {
  margin: 0 55px;
}
footer .bottomFooter .rightBottomFooter .facebook:hover {
  border-color: #3B5998;
}
footer .bottomFooter .rightBottomFooter .facebook:hover .fa-facebook {
  color: #3B5998;
}
footer .bottomFooter .rightBottomFooter .instagram:hover {
  border-color: #FE902E;
}
footer .bottomFooter .rightBottomFooter .instagram:hover .fa-instagram {
  color: #FE902E;
}
footer .bottomFooter .rightBottomFooter .youtube:hover {
  border-color: #FF0000;
}
footer .bottomFooter .rightBottomFooter .youtube:hover .fa-youtube-play {
  color: #FF0000;
}
/*end footer style*/
