@color_text_header_nav: #fff;
@color_bg_dark: #5d3f49;
@color_button_normal: #ff7f9c;
@color_button_hover: #fb5a87;
@color_active: #5bddbb;
@color_footer:#c3bbbd;

@import "button_help";


/*header start*/
#header {
  background: linear-gradient(top, #65dec4 0%, #48b097 100%);
  border-bottom: @color_bg_dark 2px solid;
  z-index: 100;
  position: relative;
  width:100%;

  /*logo and help section start*/
  .topHeader{
    display: flex;
    padding-top:10px;
    margin-bottom: 18px;

    /*logo section start*/
    .leftHeader{
      width: 60%;
      display: flex;
      margin-left: 130px;
      h2{
        text-transform: capitalize;
        color: @color_text_header_nav;
        font-size: 20px;
        font-weight: 600;
        padding: 18px 0 0 14px;
        &:before{
          content:'благодійна організація';
        }
        span:before{
          content:'міжнародний благодійний фонд "твоє майбутнє"';
        }
      }
      /*burger menu start*/
      #b-container {
        height: 60px;
        left: 30px;
        position: absolute;
        top: 20px;
        cursor: pointer;
        display: none;
        padding-left: 15.5px;
        padding-top: 17.5px;
        transition: all 0.4s ease;
        user-select: none;
        width: 60px;
        opacity: 1;
      }
      .b-bun {
        background: white;
        position: relative;
        transition: all 0.4s ease;
      }

      .b-bun--top {
        height: 2px;
        top: 0;
        width: 30px;
        background: white;
      }

      .b-bun--mid {
        height: 2px;
        top: 8px;
        width: 30px;
        background: white;
      }

      .b-bun--bottom {
        height: 2px;
        top: 16px;
        width: 30px;
        background: white;
      }
      #b-container.open  {
        left:280px;
        opacity: 1;
      }
      #b-container.open .b-bun--top {
        background: @color_bg_dark;
        top: 9px;
        transform: rotate(45deg);
        opacity: 1;
      }
      #b-container.open .b-bun--mid {
        opacity: 0;
      }
      #b-container.open .b-bun--bottom {
        background: @color_bg_dark;
        top: 5px;
        transform: rotate(-45deg);
        opacity: 1;
      }
      /*burger menu end*/
    }
    /*logo section end*/

    /*help button section start*/
    .rightHeader{
      width: 40%;
      display: flex;
      justify-content: flex-end;
      margin-right: 30px;
      h2{
        color: @color_text_header_nav;
        font-size: 18px;
        font-weight: 600;
        padding-top: 23px;
        text-align: right;
        span{
          font-family: Roboto, sans-serif;
          font-size: 20px;
          font-weight: 700;
        }
      }
    }
    /*help button section end*/
  }
  /*logo and help section end*/

  /*navigation section start*/
  .navigationPage{
    margin: -1.5% 15% 0;
    position: absolute;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*navigation start*/
    nav {
      width: 100%;
      border-radius: 25px;
      background: linear-gradient(left, #825c60 0%, #493136 100%);
      padding: 13px 20px;
      .help_section{
        display: none;
      }
      .b-nav {
        display: flex;
        justify-content: space-around;
        li {
          list-style-type: none;
          .b-link {
            padding:25px 5px;
            color: @color_text_header_nav;
            text-decoration: none;
            font-weight: 500;
            &:hover {
              color: @color_active;
            }
          }
          .b-nav {
            position: absolute;
            border-radius: 0 0 15px 15px;
            top: 45px;
            padding-left: 15px;
            margin: 0;
            background-color:@color_bg_dark ;
            opacity: 0.8;
            display: none;
            flex-direction: column;
            list-style-type: none;
            li {
              width: 180px;
              display: list-item;
              position: relative;
              padding: 5px 0;
              margin: 5px 5px;
              a{
                padding: 5px 5px ;
              }
            }
          }
          &:hover {
            >.b-nav {
              display: inherit;
            }
            &:hover{
              >.b-link{
                color: @color_active;
              }
            }
          }
        }
      }
    }
    /*navigation end*/

    /*name page start*/
    .namePage{
      background: linear-gradient(top, #65dec4 0%, #48b097 100%);
      width: 45%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 7px 0;
      border-bottom-left-radius: 25px;
      border-bottom-right-radius: 25px;
      h3{
        text-transform: uppercase;
        color: @color_text_header_nav ;
        font-size: 16px;
        font-weight: 600;
      }
    }
    /*name page end*/
  }
  /*navigation section end*/
}
/*header section end*/

/*style for  size from 1024px to 1250px*/
@media  (min-width: 1024px) and (max-width: 1250px) {
  #header {
    .topHeader{
      /*logo section start*/
      .leftHeader{
        margin-left: 70px;
        h2{
          font-size: 18px;
        }
      }
      /*logo section end*/

      /*help button section start*/
      .rightHeader{
        margin-right: 30px;
        .help{
          margin: 23px 20px 0 0;
        }
        h2{
          font-size: 16px;
          span{
            font-size: 16px;
          }
        }
      }
      /*help button section end*/
    }
    /*logo and help section end*/

    /*navigation section start*/
    .navigationPage{
      margin: -1.8% 12.5% 0;
      width: 75%;
      nav {
        .b-nav {
          li {
            .b-nav {
              top: 44px;
            }
          }
        }
      }
    }
    /*navigation section end*/
  }
}

/*style for tablet size from 768px to 1023px*/
@media  (min-width: 768px) and (max-width: 1023px) {
  #header {
    width:100%;
    /*logo and help section start*/
    .topHeader{
      margin-bottom: 25px;
      /*logo section start*/
      .leftHeader{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        margin: 0 6%;
        .logoDesktop{
            position: absolute;
            left:85%;
            top:15%;
        }
        h2{
          padding: 20px 0 2.5% 0;
          text-align: center;
        }

        /*burger menu start*/
        #b-container {
          height: 60px;
          left: 40px;
          position: absolute;
          top: 20%;
          cursor: pointer;
          display: block;
          padding-left: 15.5px;
          padding-top: 17.5px;
          transition: all 0.4s ease;
          user-select: none;
          width: 60px;
        }
        .b-bun {
          background: white;
          position: relative;
          transition: all 0.4s ease;
        }

        .b-bun--top {
          height: 2px;
          top: 0;
          width: 30px;
          background: white;
        }

        .b-bun--mid {
          height: 2px;
          top: 8px;
          width: 30px;
          background: white;
        }

        .b-bun--bottom {
          height: 2px;
          top: 16px;
          width: 30px;
          background: white;
        }
        #b-container.open  {
          left:320px;
        }

        #b-container.open .b-bun--top {
          background: @color_bg_dark;
          top: 9px;
          transform: rotate(45deg);

        }
        #b-container.open .b-bun--mid {
          opacity: 0;
        }
        #b-container.open .b-bun--bottom {
          background: @color_bg_dark;
          top: 5px;
          transform: rotate(-45deg);
        }

        header.open{
          opacity: 0.8;
        }
        /*burger menu end*/
      }
      /*logo section end*/

      /*help button section start*/
      .rightHeader{
        display: none;
      }
      /*help button section end*/
    }
    /*logo and help section end*/

    /*navigation section start*/
    .navigationPage{
      margin: -28px 25% 0;
      max-width: 50%;
      position: absolute;
      /*navigation start*/
      nav {
        border-radius: 25px;
        padding: 5px 5px;
        .help_section{
          display: flex;
          justify-content: space-between;
          .help{
            margin: 0;
            height: 40px;
            border-radius: 20px;
          }
          h2{
            color: @color_text_header_nav;
            font-size: 15px;
            font-family: Roboto, sans-serif;
            margin: 0 5% ;
            text-align: right;
          }
        }
        .b-nav {
          display: none;
        }
      }
      /*navigation end*/

      /*name page start*/
      .namePage{
        width: 80%;
      }
      /*name page end*/
    }
    /*navigation section end*/
  }
}

/*style for tablet size from 480px to 767px*/
@media  (min-width: 480px) and (max-width: 767px) {
  #header {
    width:100%;
    /*logo and help section start*/
    .topHeader{
      margin-bottom: 35px;
      /*logo section start*/
      .leftHeader{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        margin: 0 3%;
        .logoDesktop{
          position: absolute;
          left:80%;
          top:15%;
        }
        h2{
          text-transform: uppercase;
          text-align: center;
          font-size: 19px;
          &:before{
            content:'благодійна організація';
          }
          span:before{
            content:'мбф "твоє майбутнє"';
          }
        }
        /*burger menu start*/
        #b-container {
          left: 20px;
          display: block;
        }
        /*burger menu end*/
      }
      /*logo section end*/

      /*help button section start*/
      .rightHeader{
        display: none;
      }
      /*help button section end*/
    }
    /*logo and help section end*/

    /*navigation section start*/
    .navigationPage{
      margin: -25px 37.5% 0;
      width: 25%;
      position: absolute;
      /*navigation start*/
      nav {
        border-radius: 25px;
        padding: 5px 5px;
        width: 160px;
        .help_section{
          display: flex;
          justify-content: center;
          width: 150px;
          .help{
            margin: 0;
            height: 40px;
          }
          h2{
            display: none;
          }
        }
        .b-nav {
          display: none;
        }
      }
      /*navigation end*/

      /*name page start*/
      .namePage{
        display: none;
      }
      /*name page end*/
    }
    /*navigation section end*/

  }
}

/*style for tablet size from 320px to 479px*/
@media  (min-width: 401px) and (max-width: 479px) {
  #header {
    width:100%;
    /*logo and help section start*/
    .topHeader{
      margin-bottom: 25px;
      /*logo section start*/
      .leftHeader{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        margin: 0 2%;
        .logoDesktop{
          position: absolute;
          left:77%;
          top:20%;
          img{
            height: 75%;
            width: 75%;
          }
        }
        h2{
          text-transform: uppercase;
          text-align: center;
          font-size: 18px;
          &:before{
            content:'благодійний фонд';
          }
          span:before{
            content:'"твоє майбутнє"';
          }
        }
        /*burger menu start*/
        #b-container {
          left: 25px;
          display: block;
        }
        /*burger menu end*/
      }
      /*logo section end*/

      /*help button section start*/
      .rightHeader{
        display: none;
      }
      /*help button section end*/
    }
    /*logo and help section end*/

    /*navigation section start*/
    .navigationPage{
      margin: -20px 37.5% 0;
      width: 25%;
      position: absolute;
      /*navigation start*/
      nav {
        border-radius: 22px;
        padding: 5px 5px;
        width: 160px;
        .help_section{
          display: flex;
          justify-content: center;
          width: 150px;
          .help{
            margin: 0;
            height: 35px;
          }
          h2{
            display: none;
          }
        }
        .b-nav {
          display: none;
        }
      }
      /*navigation end*/

      /*name page start*/
      .namePage{
        display: none;
      }
      /*name page end*/
    }
    /*navigation section end*/

  }
}

@media  (min-width: 320px) and (max-width: 400px) {
  #header {
    width:100%;
    /*logo and help section start*/
    .topHeader{
      margin-bottom: 25px;
      /*logo section start*/
      .leftHeader{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        margin: 0 2%;
        .logoDesktop{
          position: absolute;
          left:77%;
          top:20%;
          img{
            height: 75%;
            width: 75%;
          }
        }
        h2{
          text-transform: uppercase;
          text-align: center;
          font-size: 18px;
          &:before{
            content:'бо мбф твоє';
          }
          span:before{
            content:'майбутнє';
          }
        }
        /*burger menu start*/
        #b-container {
          left: 25px;
          display: block;
        }
        /*burger menu end*/
      }
      /*logo section end*/

      /*help button section start*/
      .rightHeader{
        display: none;
      }
      /*help button section end*/
    }
    /*logo and help section end*/

    /*navigation section start*/
    .navigationPage{
      margin: -20px 37.5% 0;
      width: 25%;
      position: absolute;
      /*navigation start*/
      nav {
        border-radius: 22px;
        padding: 5px 5px;
        width: 160px;
        .help_section{
          display: flex;
          justify-content: center;
          width: 150px;
          .help{
            margin: 0;
            height: 35px;
          }
          h2{
            display: none;
          }
        }
        .b-nav {
          display: none;
        }
      }
      /*navigation end*/

      /*name page start*/
      .namePage{
        display: none;
      }
      /*name page end*/
    }
    /*navigation section end*/

  }
}

