@import "constants";

* {
  .standard_box;
}

.photoReporting {
  .standard;

  @import "navigation_out_menu";
  @import "header";

  #header .navigationPage .namePage h3:before {
    content: 'Фотозвітність';
  }

  main {
    background: @color_content_bg;
    padding: 100px 60px 50px 60px;
    display: flex;
    justify-content: space-around;
    .link_album {
      position: relative;
      border: 3px solid @color_text;
      margin: 5px;
      img {
        width: 350px;
        height: auto;
        padding: 5px;
      }
      .link_album_container {
        position: absolute;
        bottom: 35px;
        z-index: 50;
        left: 14px;
        padding: 1% 5%;
        h4 {
          font: 600 20px @font_Raleway;
          color: @color_text;
          text-transform: uppercase;
          margin-bottom: 5px;
        }
        a {
          font: 600 12px @font_Raleway;
          color: @color_text;
          padding: 3px 8px;
          border: 1px solid @color_text;
          text-transform: uppercase;
          text-decoration: none;
          &:hover {
            color: @color_active_header_bg;
            border: 1px solid @color_active_header_bg;
          }
        }
      }
      &:hover {
        border: 3px solid @color_active_header_bg;
        transform: scale(1.05, 1.05);
        transition-timing-function: ease-out;
        transition-duration: 250ms;

      }
    }


  }

  @import "footer";
}



/*style for  size from 400px to 768px*/
@media  (min-width: 400px) and (max-width: 768px) {
  .photoReporting {
    main {
      background: @color_content_bg;
      padding: 8% 4% 4%;
      display: flex;
      flex-direction: column;
      align-items: center;

    }
  }
}

/*style for  size from 320px to 400px*/
@media  (min-width: 320px) and (max-width: 400px) {
  .photoReporting {
    main {
      background: @color_content_bg;
      padding: 8% 4% 4%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .link_album {
        img {
          width: 250px;
        }
      }


    }
  }
}

/*header with name page*/
@media  (min-width: 491px) and (max-width: 767px) {
  .photoReporting {
    #header .topHeader {
      margin-bottom: 50px;
      .leftHeader h1 {
        font-size: @font_size_standard + 4px;
        padding-left: 0 !important;
        &:before {
          content: 'бо мбф "твоє майбутнє"';
        }
        span:before {
          content: 'Фотозвітність';
        }
      }
    }
  }
}

@media  (min-width: 320px) and (max-width: 490px) {
  .photoReporting {
    #header .topHeader {
      margin-bottom: 50px;
      .leftHeader h1 {
        font-size: @font_size_standard + 4px;
        padding-left: 0 !important;
        &:before {
          content: 'Фотозвітність';
        }
        span:before {
          content: ' ';
        }
      }
    }
  }
}