@import "constants";

* {
 .standard_box
}

.requisites {
  .standard;

  @import "navigation_out_menu";
  @import "header";

  #header .navigationPage .namePage h3:before {
    content: 'Реквізити';
  }

  main {
    background: @color_content_bg;
    padding: 100px 60px 50px 60px;
    font-weight: 400;
    .help {
      width: 34%;
      height: 50px;
      font-size: @font_size_standard + 9px;
      font-weight: 700;
      animation: none;
      margin: 0 33%;
    }
    .help:hover {
      background-color: @color_text;
      border: 2px solid @color_button_normal;
      color: @color_button_normal;
    }
    p {
      font-family: @font_Roboto;
    }
    h4 {
      font-size:@font_size_standard + 4px;
    }
  }

  @import "footer";

}



/*style for  size from 320px to 768px*/
@media  (min-width: 320px) and (max-width: 768px) {
  .requisites {
    main {
      padding: 8% 4% 4%;
      .help {
        width: 50%;
        margin: 3% 25%;
        font-size:  @font_size_standard + 2px;
        font-weight: 700;
      }

      h4 {
        font-size:  @font_size_standard + 2px;
      }
      p {
        font-size:  @font_size_standard - 1px;
        font-family: @font_Roboto;

      }
    }
  }
}

/*header with name page*/
@media  (min-width: 491px) and (max-width: 767px) {
  .requisites {
    #header .topHeader {
      margin-bottom: 50px;
      .leftHeader h1 {
        font-size:  @font_size_standard + 4px;
        padding-left: 0 !important;
        &:before {
          content: 'бо мбф "твоє майбутнє"';
        }
        span:before {
          content: 'Реквізити';
        }
      }
    }
  }
}

@media  (min-width: 320px) and (max-width: 490px) {
  .requisites {
    #header .topHeader {
      margin-bottom: 50px;
      .leftHeader h1 {
        font-size: @font_size_standard + 6px;
        padding-left: 0 !important;
        &:before {
          content: 'Реквізити';
        }
        span:before {
          content: ' ';
        }
      }
    }
  }
}