* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-width: 320px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #494949;
}
* {
  font-family: 'Roboto', cursive;
}
/*button help style*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', cursive;
}
/*button*/
.help {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #ff7f9c;
  border-radius: 25px;
  width: 170px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  margin: 23px 35px 0 0;
  animation: pulsate 1.2s linear infinite;
  outline: none;
  border: none;
}
.help:hover {
  background-color: #fb5a87;
}
@keyframes pulsate {
  50% {
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3), 0 0 5px #ffd, 0 0 8px #fff;
  }
}
/*pop-up window*/
.container_count {
  max-width: 760px;
  width: 100%;
  margin: 150px auto;
  background: url('../img/blues-wide.svg');
  border-radius: 15px;
  background-size: cover;
  padding: 10px;
}
.container_count .block_count {
  display: flex;
  position: relative;
  background: #8CD0B7;
  border-radius: 5px;
}
.container_count .block_count .count {
  cursor: pointer;
  text-align: center;
  color: #fff;
  padding: 10px;
  position: relative;
  z-index: 10;
  width: 20%;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
}
.container_count .block_count .count.curent {
  color: #5d3f49;
}
.container_count .block_count .active {
  position: absolute;
  border-radius: 5px;
  background: #fff;
  height: 96%;
  top: 2%;
  width: 18%;
  left: 1%;
  transition: all 502ms cubic-bezier(0.185, 0.66, 0.315, 0.985);
  transform: translateX(220%);
}
.container_count form {
  margin-top: 50px;
}
.container_count form input[name='count'] {
  text-align: center;
  font-size: 16px;
  height: 50px;
  text-transform: uppercase;
  color: #333;
  width: 100%;
}
.container_count form input[type='submit'] {
  margin: 30px auto;
  display: block;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 40px;
  color: #444;
  font-weight: 700;
  font-size: 14px;
}
.container_count form input[type='submit']:hover {
  background: rgba(255, 255, 255, 0.85);
}
.container_count .price {
  color: #fff;
  font-size: 48px;
  text-align: center;
  margin-top: 50px;
}
/* Zoom-out effect style*/
.mfp-zoom-out .mfp-with-anim {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform: scale(1.3);
}
.mfp-zoom-out.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out;
}
.mfp-zoom-out.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: scale(1);
}
.mfp-zoom-out.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-zoom-out.mfp-removing .mfp-with-anim {
  transform: scale(1.3);
  opacity: 0;
}
.mfp-zoom-out.mfp-removing.mfp-bg {
  opacity: 0;
}
.mfp-close-btn-in .mfp-close {
  display: none;
}
/*header start*/
#header {
  background: linear-gradient(top, #65dec4 0%, #48b097 100%);
  border-bottom: #5d3f49 2px solid;
  z-index: 100;
  position: relative;
  width: 100%;
  /*logo and help section start*/
  /*logo and help section end*/
  /*navigation section start*/
  /*navigation section end*/
}
#header .topHeader {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  margin-bottom: 18px;
  /*logo section start*/
  /*logo section end*/
  /*help button section start*/
  /*help button section end*/
}
#header .topHeader .leftHeader {
  width: 60%;
  display: flex;
  margin-left: 130px;
}
#header .topHeader .leftHeader h2 {
  text-transform: capitalize;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding: 18px 0 0 14px;
}
#header .topHeader .rightHeader {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}
#header .topHeader .rightHeader h2 {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  padding-top: 23px;
  text-align: right;
}
#header .topHeader .rightHeader h2 span {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 700;
}
#header .navigationPage {
  margin: -1.5% 15% 0;
  position: absolute;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*navigation start*/
  /*navigation end*/
  /*name page start*/
  /*name page end*/
}
#header .navigationPage nav {
  width: 100%;
  border-radius: 25px;
  background: linear-gradient(left, #825c60 0%, #493136 100%);
  padding: 13px 20px;
}
#header .navigationPage nav .b-nav {
  display: flex;
  justify-content: space-around;
}
#header .navigationPage nav .b-nav li {
  list-style-type: none;
}
#header .navigationPage nav .b-nav li .b-link {
  padding: 25px 5px;
  color: #fff;
  text-decoration: none;
}
#header .navigationPage nav .b-nav li .b-link:hover {
  color: #5bddbb;
}
#header .navigationPage nav .b-nav li .b-nav {
  position: absolute;
  border-radius: 0 0 15px 15px;
  top: 45px;
  padding-left: 15px;
  margin: 0;
  background-color: #5d3f49;
  opacity: 0.8;
  display: none;
  flex-direction: column;
  list-style-type: none;
}
#header .navigationPage nav .b-nav li .b-nav li {
  width: 180px;
  display: list-item;
  position: relative;
  padding: 5px 0;
  margin: 5px 5px;
}
#header .navigationPage nav .b-nav li .b-nav li a {
  padding: 5px 5px ;
}
#header .navigationPage nav .b-nav li:hover > .b-nav {
  display: inherit;
}
#header .navigationPage nav .b-nav li:hover:hover > .b-link {
  color: #5bddbb;
}
#header .navigationPage .namePage {
  background: linear-gradient(top, #65dec4 0%, #48b097 100%);
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 0;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
#header .navigationPage .namePage h3 {
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
/*header section end*/
/*

!*style for mobile size from 320px to 767px*!
@media  (min-width: 320px) and (max-width: 1024px) {
  .topHeader {
    display: flex;
    flex-direction: column !important;
    .leftHeader{
      width: 100% !important;
      display: flex;
      margin-left: 10px!important;
    }
    .rightHeader{
      width: 100% !important;
      display: flex;
      justify-content: center !important;
      margin-left: 0px!important;
      border-top: @color_bg_dark 2px solid;
      h2{
        white-space:nowrap!important;
      }
    }
  }
  .navigationPage{
    display: none!important;
  }


}*/
#header .navigationPage .namePage h3:before {
  content: 'Реквізити';
}
main {
  background: linear-gradient(top, #ddfcf6 0%, #E6FDF7 100%);
  padding: 100px 60px 50px 60px;
  font-weight: 500;
}
main .help {
  width: 35%;
  height: 50px;
  font-size: 25px;
  font-weight: 700;
  animation: none;
  margin: 0 33%;
}
main .help:hover {
  background-color: #fff;
  border: 2px solid #ff7f9c;
  color: #ff7f9c;
}
/*start footer style*/
footer {
  background-color: #5d3f49;
  padding: 70px 30px 55px;
  /*title*/
  /*Requisites section start*/
  /*Requisites section end*/
  /*Contacts section start*/
  /*Contacts section end*/
  /*Copyright section start*/
  /*Copyright section end*/
}
footer h3 {
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}
footer hr {
  width: 15%;
  height: 8px;
  background-color: #fd537c;
  border: none;
  margin: 15px 0 50px;
}
footer .topFooter {
  padding-bottom: 25px;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 2px solid #fff;
  /*Requisites in Russian section start*/
  /*Requisites in Russian section end*/
  /*Requisites in English section start*/
  /*Requisites in English section end*/
}
footer .topFooter h4 {
  font-size: 18px;
  font-weight: 500;
}
footer .topFooter .leftTopFooter {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 15px;
  width: 50%;
  text-align: right;
}
footer .topFooter .rightTopFooter {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 15px;
  width: 50%;
}
footer .middleFooter {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 30px;
  border-bottom: 2px solid #fff;
}
footer .middleFooter h5 {
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  color: #fff;
}
footer .middleFooter .address {
  width: 33%;
  display: flex;
  align-items: center;
  padding: 19px 0 23px 24px;
}
footer .middleFooter .phone {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 19px 0 23px 0;
}
footer .middleFooter .mail {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 19px 0 23px 0;
}
footer .middleFooter .mail a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  color: #fff;
}
footer .bottomFooter {
  padding-top: 60px;
  display: flex;
  /*Copyright section start*/
  /*Copyright section end*/
  /*Button to back start*/
  /*Button to back end*/
  /*Social section start*/
  /*Social section end*/
}
footer .bottomFooter .leftBottomFooter {
  width: 45%;
}
footer .bottomFooter .leftBottomFooter h5 {
  font-size: 18px;
  font-weight: 500;
  color: #c3bbbd;
}
footer .bottomFooter .middleBottomFooter {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .bottomFooter .middleBottomFooter .fa-arrow-circle-o-up {
  color: #c3bbbd;
}
footer .bottomFooter .middleBottomFooter .fa-arrow-circle-o-up:hover {
  color: #fff;
}
footer .bottomFooter .rightBottomFooter {
  display: flex;
  justify-content: flex-end;
  width: 45%;
}
footer .bottomFooter .rightBottomFooter a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #c3bbbd;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
footer .bottomFooter .rightBottomFooter a .fa-facebook,
footer .bottomFooter .rightBottomFooter a .fa-instagram,
footer .bottomFooter .rightBottomFooter a .fa-youtube-play {
  color: #c3bbbd;
}
footer .bottomFooter .rightBottomFooter .instagram {
  margin: 0 55px;
}
footer .bottomFooter .rightBottomFooter .facebook:hover {
  border-color: #3B5998;
}
footer .bottomFooter .rightBottomFooter .facebook:hover .fa-facebook {
  color: #3B5998;
}
footer .bottomFooter .rightBottomFooter .instagram:hover {
  border-color: #FE902E;
}
footer .bottomFooter .rightBottomFooter .instagram:hover .fa-instagram {
  color: #FE902E;
}
footer .bottomFooter .rightBottomFooter .youtube:hover {
  border-color: #FF0000;
}
footer .bottomFooter .rightBottomFooter .youtube:hover .fa-youtube-play {
  color: #FF0000;
}
/*end footer style*/
