@import "constants";

* {
  .standard_box
}

.thanksPay {
  .standard;

  @import "navigation_out_menu";
  @import "header";

  #header .navigationPage .namePage {
    display: none;
  }

  main {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    .bg_thanks {
      width: 100%;
      height: 100%;
    }
    h4 {
      font-size: 100px;
      color: @color_content;
      position: absolute;
    }
  }

  @import "footer";

}

/*style for  size from 320px to 480px*/
@media  (min-width: 320px) and (max-width: 480px) {
  .thanksPay {
    main {
      max-width: 100%;
      max-height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .bg_thanks {
        width: 100%;
        height: 100%;
      }
      h4 {
        font-size: 50px;
        color: @color_content;
        position: absolute;
      }
    }
  }
}