@font_Raleway: Raleway, sans-serif;
@font_size_title: 30px;
@color_text_header_nav: #fff;
@color_bg_dark: #5d3f49;
@color_button_normal: #ff7f9c;
@color_button_hover: #fb5a87;
@color_title_line: #fd537c ;
@color_bg:#ececec;
@color_active:#61d1b7;
@color_footer:#c3bbbd;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-width: 320px;
  margin: 0 auto;
  font-family: @font_Raleway;
  font-weight: 400;
}

@import "header";

#header .navigationPage .namePage {
  display: none;
}

main{
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  .bg_thanks{
    width: 100%;
    height: 100%;
  }
  h1{
    font-size: 100px;
    color: #5d3f49;
    position: absolute;
      }
}

@import "footer";